<p>Se trata de una pequeña red social para crearr adivinanzas (quiz).
Es un proyecto educativo cuyo objetivo es mostrar la arquitectura de una app Web del lado servidor,
metodologías de desarrollo y los elementos más importantes de un portal Web.
Se despliega con Heroky y está gestionado con Git y GitHub.
</p>


